In [11]:
import pandas as pd

cruzbuy = pd.read_csv('./clean/cruzbuy_clean.csv')
cruzbuy.head(5)

,Creation Date,Supplier Name,Item Type,Form Type,Product Description,Manufacturer,Quantity,Unit Price,Extended Price,Category Cleaned
0,12/30/2025,Fisher Scientific Company LLC,PunchOut Product,NaN,HEIDOLPH HEI-VAP CORE HL/G5,Heidolph,1.0,4998.67,4998.67,Laboratory and Measuring and Observing and Tes...
1,12/30/2025,Fisher Scientific Company LLC,PunchOut Product,NaN,ROTAVAC VALVE TEC PUMP,Heidolph,1.0,1852.08,1852.08,Laboratory and Measuring and Observing and Tes...
2,12/30/2025,Fisher Scientific Company LLC,PunchOut Product,NaN,HEI-VAC CONTROL DGTL VAC CNTLR,Heidolph,1.0,2381.64,2381.64,Laboratory and Measuring and Observing and Tes...
3,12/30/2025,Fisher Scientific Company LLC,PunchOut Product,NaN,1 METER VACUUM TUBE,Heidolph,1.0,27.72,27.72,Laboratory and Measuring and Observing and Tes...
4,12/29/2025,Safeway Inc,NonCatalog Product,"Food, Gifts, Events-ERF",Food for RA on-call during winter break,NaN,1.0,262.50,262.50,NaN

In [12]:
top_manufacturers = cruzbuy['Manufacturer'].value_counts().head(10)
print(top_manufacturers)

Manufacturer
Integrated DNA Technologies, Inc.    2253
unlisted                             1874
Fisher Scientific                    1224
Thermo Scientific                     813
New England Biolabs Inc (NEB)         643
VWR International                     577
CISCO                                 542
Dell                                  480
Invitrogen                            451
Ansell                                332
Name: count, dtype: int64

In [13]:
pcard = pd.read_csv('./raw/pcard.csv')
pcard.head(5)

,Transaction Date,Posting Date,Cycle Close Date,Transaction Amount,Source Currency Amount,Source Currency,Sales Tax,Merchant Category Code,Merchant Category Code Description,Merchant Name,Merchant City,Merchant State/Province,DISCOUNT_AMT,ITEM_COMDT_CDE,ITEM_DSC,ITEM_QTY,UNIT_MEAS_TYP_DSC,UNIT_PRICE_AMT
0,2025/01/01,2025/01/02,2025/01/10,$29.00,$29.00,USD,$.00,5734,COMPUTER SOFTWARE STORES,SHOPIFY* 313119495,HTTPSSHOPIFY.,IL,0.0,shopify,"Jan 1, 2025",1.0,item,29.00
1,2025/01/04,2025/01/06,2025/01/10,$136.67,$136.67,USD,$.00,5331,VARIETY STORES,AMAZON RETA* ZP6TU5JI1,WWW.AMAZON.CO,WA,0.0,B0CHHSFMRL,Order Summary,1.0,item,136.67
2,2025/01/02,2025/01/06,2025/01/10,"$2,172.53","$2,172.53",USD,$170.53,8220,"COLLEGES, UNIVERSITIES",UCSC BAY TREE BKSTORE #9,SANTA CRUZ,CA,0.0,,,0.0,,0.00
3,2025/01/08,2025/01/08,2025/01/10,$18.65,$18.65,USD,$.00,5331,VARIETY STORES,AMAZON RETA* ZP6HD1231,WWW.AMAZON.CO,WA,0.0,B075Y6SRMG,Order Summary,1.0,item,18.65
4,2025/01/08,2025/01/09,2025/01/10,$51.56,$51.56,USD,$.00,5999,MISCELLANEOUS AND SPECIAL,AMAZON MARK* ZD2NB40L0,HTTPSAMAZON.C,WA,0.0,B08DTH96P7,Order Summary,1.0,item,51.56

In [14]:
top_merchants = pcard['Merchant Name'].value_counts().head(10)
print(top_merchants)

Merchant Name
THE HOME DEPOT #6968         2644
SAFEWAY #2607                 790
WESTSIDE HARDWARE             593
SAN LORENZO 63 S CRUZ         513
SUPPLYHOUSE.COM               452
COSTCO WHSE #0149             443
SANTA CRUZ RECORDS MGMT       424
THE WEBSTAURANT STORE INC     424
HOMEDEPOT.COM                 421
AMAZON MKTPLACE PMTS          420
Name: count, dtype: int64

In [18]:
amazon = pd.read_csv('./raw/amazon.csv')
# amazon.head(5)

top_amazon_categories = amazon['Manufacturer'].value_counts().head(10)
print(top_amazon_categories)

Manufacturer
Amazon                      390
3M                          240
Albertsons Companies        191
Logitech                    116
Mr. Pen                     104
Avery                        95
HP                           94
Amazon.com Services LLC.     75
Anker                        66
LEGO                         64
Name: count, dtype: int64

/var/folders/gh/q87xz5kn6tn4w9zcnvxk2jb00000gn/T/ipykernel_3617/3486563786.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  amazon = pd.read_csv('./raw/amazon.csv')